@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navbar a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: rgb(6, 6, 6);
  border-radius: 40px;
  transform: scale(0);
  transition: transform 0.3s;
  transform-origin: right;
}

.navbar a:hover::after {
  transform-origin: left;
  transform: scale(1);
}

nav .logo {
  padding-left: 85px;
}

nav button {
  all: unset;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: #d01c28;
  transition: 0.2s all ease;
}

nav .btn {
  padding-right: 75px;
  cursor: pointer;
}

nav .btn button:hover {
  transform: scale(1.1);
}

main {
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 320px;
  padding-left: 100px;
  /* padding-bottom: 180px; */
}

.content {
  /* width: 580px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}

.content h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
  cursor: default;
}

.content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 400px;
  cursor: default;
}

.content button {
  all: unset;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: #d01c28;
  transition: 0.2s all ease;
}

.content button:hover {
  transform: scale(1.1);
}

.content .white {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.content .main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}

.content .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.content .footer-logo img:hover {
  scale: 1.1;
}

.img img {
  width: 530px;
}
